.config/*
!.config/nvim
!.config/autorandr
!.config/alacritty
!.config/i3
!.config/picom
!.config/polybar
!.config/rofi
!.config/paru
!.config/flameshot
!.config/hypr

.ssh/*
!.ssh/config
local_profile.zsh

Install-Logs/
