* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.bar_class {
	background: #0f0f17;
	color: #bfc9db;
	padding: 0 4px;
}

.batbar {
	color: #afbea2;
    background-color: #38384d;
	border-radius: 10px;
}

.workspaces button {
	min-width: 15px;
	border-radius: 3px;
	background: transparent;
	transition: all .2s ease;

	&:hover {
		background-color: #0b4968;
	}
}
.ws-button-focus {
	color: #1793d1;
	font-weight: bold;
}
.ws-button-visible {
	color: #e3e3e3;
}

.ws-button {
	color: #757575;
}
