// Theme Variables
$primary-color: #82aaff;
$primary-color-shade: #82aaff; 
$blue-color: #82aaff;
$green-color: #c3e88d;
$danger-color: #ff757f;
$dark-color: #0f0f17;
$dark-shade: #222436;
$white-color: #c8d3f5;

* {
	all: unset; //Unsets everything so you can style everything from scratch
}

.bar_class {
	background: $dark-color;
	color: $white-color;
	padding: 4px;
	font-family: Mononoki Nerd Font;
}

.sep {
	margin-right: 10px;
	margin-left: 10px;
}

.danger {
	color: $danger-color;
}

.icon {
	margin: 0;
	padding: 0;
}

.workspaces button {
	min-width: 15px;
	border-radius: 3px;
	background: transparent;
	transition: all .2s ease;

	&:hover {
		background-color: $dark-shade;
	}
}
.ws-button-focus {
	color: $primary-color;
	font-weight: bold;
}
.ws-button-visible {
	color: $white-color;
}

.ws-button {
	color: $dark-shade;
}

.cpu_module {
	color: $blue-color;
}

.ram_module {
	color: $green-color;
}
